# Copy to .env and supply unique local credentials. Never use production credentials.
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
MYSQL_DATABASE=mlflow
MYSQL_USER=mlflow
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
mongo_uri=
database=
collection=
